body 
  display flex
  background #2e3134
  min-height 100vh


body > div 
  width 50%


.CodeMirror, .CodeMirror-gutters 
  height auto
  background #202224 !important
  font-family 'Fira Code', monospace


.CodeMirror-gutters 
  background #1c1e20 !important
  border-right 1px solid #33373b !important
  padding-right 5px !important
  margin-right 10px !important


.cm-s-monokai div.CodeMirror-selected 
  background #303538 !important


.cm-s-monokai .CodeMirror-activeline-background 
  background #2f3136 !important

